@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
html {background-color: ##CEE3F6;
}

h1
{
  font-family: 'Quicksand', sans-serif;
  <!-- font-size: 20px;--!>
  color: #FA5858;
}

h2
{
  font-family: 'Quicksand', sans-serif;
  <!-- font-size: 14px;--!>
  color: black;
}

h3
{
  font-family: 'Quicksand', sans-serif;
  <!-- font-size: 14px;--!>
  color: black;
}

p
{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: black;
}

ol
{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: #719B7C;
}




.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Quicksand';
  color: #F5DA81 ;
}

.logo-and-name h1{
  display:inline;
  padding: 30px;
}

.navbar-right a{
  padding:30px;
  justify-content: flex-end;
  text-decoration: none;
  color: #E36834;
  font-family: "Quicksand";
  font-size: 20px;
}

.images{
  display: flex;
  justify-content: center;
}

.images-1{
  padding: 30px;
}

.images-2{
  padding: 30px;
}

.images-3{
  padding: 30px;
}

.images-4{
  padding: 30px;
}

.images-5{
  padding: 30px;
}

.images-6{
  padding:30px;
}

.images-7{
  padding:30px;
}

.images-second-row{
  display: flex;
  justify-content: center;
}

.images-8{
  padding:30px;
}

.images-9{
  padding: 30px;
}

.images-10{
  padding:30px;
}

.about-me{
  padding:12px;
  width: 450px;
  color: #EF872C;
}

.portfolio-paragraph{
  text-align: center;
  font-family: "Quicksand";
  color: #EF872C;
}

.contact-paragraph p{
  text-align: center;
  font-family: "Quicksand";
  font-size: 20px;
  color: #EF872C;
}

.form{
  margin:0 auto;
}

form label{
  font-family:"Quicksand";
  color: #EF872C;
}

input[type=text] {
  text-align: center;
  font-family: "Quicksand";
  width: 100%;
  padding: 12px 50px;
  margin: 8px 0;
  background-color: #FFF5BF;
  border: 2px solid orange;
  border-radius: 4px;
  color: #EF872C;
}

.form-box{
  display: flex;
  justify-content: center;
}

.contact-info p{
  display: flex;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-family:"gopher";
}

.contact-info a{
  text-decoration: none;
  color: #EF872C;
}

@media screen and (min-width: 400px) and (max-width: 700px){
  .navbar {
    padding: 5px;
  }
  body{
    background-color: linen;
  }
}
@media screen and (max-width: 1900px) and (min-width:1100px){
  .navbar {
    padding: 30px;
  }
  body{
    background-color: linen;
  }
