@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

h1
{
  font-family: 'Quicksand', sans-serif;
  <!-- font-size: 14px;--!>
  color: white;
  background-color: #426B38
}

h2
{
  font-family: 'Quicksand', sans-serif;
  <!-- font-size: 14px;--!>
  color: black;
}

h3
{
  font-family: 'Quicksand', sans-serif;
  <!-- font-size: 14px;--!>
  color: black;
}

p
{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: black;
}

ol
{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: #719B7C;
}
